<div class="container">
    <mat-toolbar color="primary">
      <div class="left-items">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>InversiApp</span>
      </div>

      <!-- <span class="expander"></span> -->
        <div class="right-items">
          <button mat-icon-button aria-label="Example icon-button with heart icon" routerLink="/add-investment" routerLinkActive="active">
            Add investments
            <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon-button with heart icon" routerLink="/view-investment" routerLinkActive="active">
            View investments
            <mat-icon>table_view</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </div>
      </mat-toolbar>
</div>